body {
	background-color: #c3ff96;
	font-family: arial;
}

.country {
	background-color: red;
	color: yellow;
}

.borders {
	background-color: white;
	color: blue;
}

.languages {
	background-color: white;
	color: green;
}

.currency {
	background-color: grey;
	color: white;
}